# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE / Editor
.vscode/
.idea/

# Node / Cloudflare
node_modules/
.wrangler/
.dev.vars
